/* 模块整体样式 */
#pdf-viewer-module {
    display: flex;
    flex-direction: row; /* 默认是横向排列 */
    gap: 5px;
    font-family: Arial, sans-serif;
    margin: 5px;
  }
  
  /* 目录样式 */
  #pdf-menu {
    flex: 0 0 200px; /* 左侧固定宽度 */
    border: 1px solid #ddd;
    border-radius: 8px;
    /* padding: 10px; */
    margin-top: 5px;
    background-color: rgb(255, 252, 245);
  }
  
  #pdf-menu ul {
    /* 滚动区域 */
    max-height: 580px; /* 固定高度 */
    overflow-y: auto; /* 滚动条 */
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #pdf-menu li {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 4px;
  }
  
  #pdf-menu li:hover {
    background-color: #ececec;
  }
  
  #pdf-menu li.active {
    background-color: #007bff;
    color: #fff;
  }
  
  /* PDF 内容样式 */
  #pdf-content {
    flex: 1;
  }
  
  #pdf-content .pdf-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    /* 滚动区域 */
    max-height: 500px; /* 固定高度 */
    overflow-y: auto; /* 滚动条 */
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    background-color: rgb(255, 252, 245);
  }
  
  #pdf-content img {
    width: 100%; /* 图片宽度适配区域 */
    height: auto; /* 保持图片比例 */
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  #pdf-content audio {
    margin-top: 5px;
    width: 100%;
    outline: none;
  }
  
  /* 响应式布局：小屏幕时目录移动到顶部 */
  @media (max-width: 768px) {
    #pdf-viewer-module {
      flex-direction: column; /* 改为纵向排列 */
      margin: 0px;
    }

    #pdf-menu ul {
      /* 滚动区域 */
      max-height: 185px; /* 固定高度 */
    }


    #pdf-content .pdf-images {
      /* 滚动区域 */
      max-height: 450px; 
      /* 固定高度 */
    }
  
    #pdf-menu {
      flex: 0 0 auto; /* 高度自动调整 */
      order: 1; /* 将目录移到最顶部 */
      width: auto; /* 宽度自适应 */
    }
  }
  
  /* 深色模式支持 */
  @media (prefers-color-scheme: dark) {
  
    #pdf-menu {
      background-color: rgb(24, 22, 13);
      border: 1px solid #333;
    }
  
    #pdf-menu li {
      color: #e0e0e0;
    }
  
    #pdf-menu li:hover {
      background-color: #333;
    }
  
    #pdf-menu li.active {
      background-color: #007bff;
      color: #fff;
    }
  
    #pdf-content .pdf-images {
      background-color: rgb(255, 252, 245);
      border: 1px solid #333;
    }
  
    #pdf-content img {
      border: 1px solid #333;
    }
  
    #pdf-content audio {
      background-color: rgb(24, 22, 13);
      color: #e0e0e0;
    }
  }
  