/* Timeline Container */
#timeline {
    padding: 0;
}

.timeline-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: auto;
    padding: 5rem 0;
    gap: 3rem;
}

/* Timeline Items */
.timeline-item {
    position: relative;
    text-align: center;
    max-width: 200px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.timeline-item:hover {
    transform: scale(1.1);
}

/* Dots */
.timeline {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 auto;
    /* box-shadow: 0 0 10px rgba(0, 119, 204, 0.5); */
}

.dot1 {
    background-color: #fd060e;
    box-shadow: 0 0 10px rgba(205, 3, 3, 0.5);
}

.dot2 {
    background-color: #0077cc;
    box-shadow: 0 0 10px rgba(0, 119, 204, 0.5);
}

.dot3 {
    background-color: #ff9203;
    box-shadow: 0 0 10px rgba(190, 121, 2, 0.5);
}

.dot4 {
    background-color: #f0e515;
    box-shadow: 0 0 10px rgba(190, 194, 3, 0.5);
}

.dot5 {
    background-color: #21d026;
    box-shadow: 0 0 10px rgba(0, 143, 57, 0.5);
}



.timeline-item h3 a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.timeline-item h3 a:hover {
    color: #0056b3;
}

.timeline-item p {
    display: none; /* Hidden by default */
    font-size: 1rem;
    margin: 0.5rem 0 0;
}

/* Timeline Active State */
.timeline-item.active p {
    display: block;
}

/* Responsive Design */
@media (max-width: 768px) {
    .timeline-container {
        flex-direction: column;
        gap: 2rem;
    }
}
