<link type="text/css" rel="stylesheet" href="/css/encards.css">
<div class="bodycard">
    <div class="card-container">
        <div class="card" onclick="bringToFront(this)">
            <div class="card-header">Mon</div>
            <div class="card-content">
                <ul class="styled-list"></ul>
                    <li>40分钟的 Reading 练习：
                        <ul>
                            <li>阅读您的书籍</li>
                            <li>阅读新闻</li>
                            <li>阅读简单维基上的文章</li>
                            <li>同时记下一些新词及其定义</li>
                        </ul>
                    </li>
                    <li>20分钟的其他部分练习：
                        <ul>
                            <li>Speaking：读你的书但大声读出来</li>
                            <li>Writing：抄写书中的一些段落</li>
                            <li>Listening：听书的音频版</li>
                            <li>Other：多邻国或其他学习应用</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card" onclick="bringToFront(this)">
            <div class="card-header">Tue</div>
            <div class="card-content">
                <ul class="styled-list"></ul>
                    <li>40分钟的 Writing 练习：
                        <ul>
                            <li>写下昨天的安排来练习用过去时态写作</li>
                            <li>写下明天的安排来练习用将来时态写作</li>
                            <li>在油管视频下留言</li>
                            <li>写一些喜欢和不喜欢的歌/书/剧的句子来表达你的喜好和厌恶<br />
                                五到十句总结正阅读的书中读到的内容</li>
                            <li>在词典中添加新词</li>
                        </ul>
                    </li>
                    <li>20分钟的其他部分练习：
                        <ul>
                            <li>Reading：阅读您所写的内容</li>
                            <li>Listening：将一些评论/您所写的内容谷歌翻译给您听</li>
                            <li>Speaking：然后一定要用自己的声音大声朗读英语句子</li>
                            <li>Other：多邻国或其他学习应用</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card" onclick="bringToFront(this)">
            <div class="card-header">Wed</div>
            <div class="card-content">
                <ul class="styled-list"></ul>
                    <li>40分钟的 Listening 练习：
                        <ul>
                            <li>用英语观看电视节目</li>
                            <li>听几遍你的英文歌</li>
                            <li>观看一些英语油管视频</li>
                            <li>如果有聆听书的音频版</li>
                            <li>在词典中添加新词</li>
                        </ul>
                    </li>
                    <li>20分钟的其他部分练习：
                        <ul>
                            <li>Reading：在维基百科上了解您的电视节目</li>
                            <li>Writing：写一些关于电视节目的内容</li>
                            <li>Writing：写下这首歌给你带来的感受</li>
                            <li>Speaking：说一些电视剧里的台词</li>
                            <li>Speaking：跟唱歌曲</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card" onclick="bringToFront(this)">
            <div class="card-header">Thu</div>
            <div class="card-content">
                <ul class="styled-list"></ul>
                    <li>40分钟的 Speaking 练习：
                        <ul>
                            <li>与母语者/AI 交谈会促使你周一二三五更加努力地为这次谈话做好准备</li>
                            <li>录下自己并回放</li>
                            <li>在词典中添加新词</li>
                        </ul>
                    </li>
                    <li>20分钟的其他部分练习：
                        <ul>
                            <li>Reading：读你的书但大声读出来</li>
                            <li>Listening：再听你的歌并大声唱出来</li>
                            <li>Speaking：再次影随或模仿电视剧中的演员</li>
                            <li>Other：多邻国或其他学习应用</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card" onclick="bringToFront(this)">
            <div class="card-header">Fri</div>
            <div class="card-content">
                <ul class="styled-list"></ul>
                    <li>60分钟的 Vocabulary 练习：
                        <ul>
                            <li>复习周一二三四的词汇</li>
                            <li>写出它们</li>
                            <li>大声说出它们</li>
                            <li>将它们用在句子中</li>
                            <li>创建一个Quizlet的集合或制作闪卡</li>
                            <li>直到全部记住为止</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card" onclick="bringToFront(this)">
            <div class="card-header">Sat</div>
            <div class="card-content">
                <ul class="styled-list"></ul>
                    <li>寻找一首新的歌曲</li>
                    <li>寻找一本新的书籍</li>
                    <li>寻找一部新的电视剧</li>
                </ul>
            </div>
        </div>
        <div class="card" onclick="bringToFront(this)">
            <div class="card-header">Sun</div>
            <div class="card-content">
                <ul class="styled-list"></ul>
                    <li>休息一下</li>
                </ul>
            </div>
        </div>
    </div>
</div>  
<script src="/js/encards.js" type="text/javascript"></script>
