<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/japanese.css" />
    <title>japanese</title>
  </head>
  <body>
    <h2><a href="/index.html" title="回到首页">日文对话课程</a></h2>
    <div class="meta">
      <span class="post-timestamp">选择课程，资源来自 <a href="https://www.nhk.or.jp/lesson/zh/lessons/">NHK</a></span>
      <span class="tags">
        标签：
        <a href="/tags/japan.html" class="tag">Japanese</a>
      </span>
    </div>
    <div id="pdf-viewer-module">
      <!-- 目录 -->
      <div id="pdf-menu">
        <ul></ul>
      </div>

      <!-- PDF 内容 -->
      <div id="pdf-content"></div>
    </div>

    <script src="/js/japanese.js"></script>
  </body>
</html>
