<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/japanese.css" />
    <title>Interactive PDF Viewer</title>
  </head>
  <body>
    <div id="pdf-viewer-module">
        <!-- 目录 -->
        <div id="pdf-menu">
          <ul></ul>
        </div>
      
        <!-- PDF 内容 -->
        <div id="pdf-content"></div>
      </div>
      

    <script src="/js/japanese.js"></script>
  </body>
</html>
