<link type="text/css" rel="stylesheet" href="/css/vocabulary.css">
<header>
    <h1>词汇库</h1>
    <p>Organized and effective vocabulary management.</p>
</header>
<div class="voccontainer">
    <!-- 左侧分类导航 -->
    <aside class="vocsidebar">
        <h2>Categories</h2>
        <ul id="categories">
            <li data-category="all" class="active">All Words</li>
            <li data-category="adjective">Adjectives<br />（形容词）</li>
            <li data-category="adverb">Adverbs<br />（副词）</li>
            <li data-category="adverb phrase">Adverb Phrases<br />（副词短语）</li>
            <li data-category="verb">Verbs<br />（动词）</li>
            <li data-category="verb phrase">Verb Phrases<br />（动词短语）</li>
            <li data-category="noun">Nouns<br />（名词）</li>
            <li data-category="noun phrase">Noun Phrases<br />（名词短语）</li>
            <li data-category="proper noun">Proper Nouns<br />（专有名词）</li>
            <li data-category="clause">Clauses<br />（从句）</li>
            <li data-category="preposition">Prepositions<br />（介词）</li>
            <li data-category="prepositional phrase">Prepositional Phrases<br />（介词短语）</li>
            <li data-category="time expression">Time Expressions<br />（时间表达）</li>
            <li data-category="present participle phrase">Present Participle Phrases<br />（现在分词短语）</li>
            <!-- <li data-category="noun">Nouns</li> -->
        </ul>
    </aside>
    <!-- 右侧单词显示 -->
    <main class="voccontent">
        <div class="search-bar">
            <input type="text" id="search-input" placeholder="Search for a word..." />
        </div>
        <div id="word-list" class="scrollable-list"></div>
    </main>
</div>
<script src="/js/vocabulary.js" type="text/javascript"></script>